main{
    min-height: 66vh;
    padding: 10vh 14vw;
    padding: min(10vh,120px) 14vw;
    background-color: var(--light-color);
}

main[data-page$=start]{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) , url(../../assets/img/start-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    /* animation-name: move;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

/* @keyframes move {
    0%, 100% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
  } */


  @media (min-width:767.98px) {
    main[data-page$="resume"],
    main[data-page$="start"]{
      background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) , url(../../assets/img/desktop-bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      color: #FFFFFF;
      background-position: center;
  }
  
  }


  @media (min-width:991.98px) {
    main[data-page$="sell"]{
     padding: 0;
  }
  
  }




