.tooltip-group{
    position: relative;
    padding-top: 1rem;
}


.label-text{
    padding: 5vw 0;
    font-family:var(--second-font-family);
    font-weight: 600;
    font-size: 18px;
    border-bottom: 5px solid black;
    position: relative;
}


.label-text .collapse-arrow {
position: absolute;
right: 0;
top: 40%
}

.label-text span:first-of-type{
    width: 93%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.error-text::before{
    position: relative;
    top: 4px;
    right: 4px;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

.form-submit .progress {
    position: relative;
    display: flex;
    height: 1.1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: var(--primary-color);
    border-radius: .25rem;
    bottom: 1rem;
}

.form-submit .progress-bar { 
    background-color: black;
}


.my-toast.Toastify__toast-container--top-right {
    transform: translateX(0);
    top: 3.5rem;
}

.form-disable{
    pointer-events: none;
    opacity: 0.6;
}


@media only screen and (max-width: 480px){
.my-toast.Toastify__toast-container {
    width: 80vw;
    padding: 0;
    top: 3.5rem;
    margin: 0;
    left: unset;
}
.my-toast.Toastify__toast-container--top-right {
    right: 1em;
}
}


.my-toast .Toastify__toast--dark {
    background: #000;
    color: #fff;
}

.my-toast .Toastify__toast-body {
    font-family: var(--second-font-family);
    font-weight: 500;
    text-align: center;
}

.my-toast .Toastify__toast {
    border-radius: 10px;
}

.upload-info{
    font-size: min(max(10px,2.89vw), 18px);
}




.react-select .sellSelect__control{
    background-color: transparent;
    width: 100%;
    font-weight: 400;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem ;
    line-height: 1.25;
    color: var(--dark-color);
    border: 5px solid var(--form-gray);
    box-sizing: border-box;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.react-select .sellSelect__indicator-separator{
    display: none;
}

.react-select .sellSelect__dropdown-indicator,
.react-select .sellSelect__clear-indicator{
   padding: 0.4rem;
   color: #fff;
}

.react-select .sellSelect__clear-indicator{
    padding: 0;
}

.react-select .sellSelect__menu{
    background-color: black;
}

.react-select .sellSelect__group-heading{
    font-weight: bold;
    font-size: 1em;
    line-height: 15px;
    color: #FFFFFF;
    text-transform: capitalize;    
    padding: 0.9em 1.5em;
}


.react-select .sellSelect__group  .sellSelect__option{  
    padding: 0.7em 3em;
    background-color: transparent;
}

.react-select .sellSelect__dropdown-indicator>svg,
.react-select .sellSelect__clear-indicator>svg{
    width: 1rem;
    fill: #000;
  
 }


.react-select .sellSelect__loading-indicator{
 color: #fff;
}

.react-select .sellSelect__value-container{
min-height: 100%;
align-self: stretch;
}


.react-select .sellSelect__control:focus{ 
    border-color:var(--form-gray);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.25);
}

.react-select .sellSelect__placeholder
{
    font-family: var(--second-font-family);
    font-style: italic;
    color: var(--dark-color);
    font-size: 14px;
    font-weight: 300;
}

.react-select .sellSelect__single-value,
.react-select .sellSelect__input{
    color: var(--dark-color);
}

.react-select .sellSelect__control:hover{ 
    border-color:var(--form-gray);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25);
}


.react-select .react-select__menu-list{
    color: #fff;
}


.react-select .sellSelect__option--is-selected {
    color: #fff!important;
    background-color: var(--primary-color)!important;
}

.react-select .sellSelect__option{
    color: #fff;
    display: flex;
    padding: 0.7em 2em;
}

.react-select .sellSelect__option:hover,
.react-select .sellSelect__option--is-focused,
.react-select .sellSelect__option:active
{
background-color: var(--primary-light-color);
}






    @media (min-width:991.98px) {
        .sellform-inner{
            max-width: 785px;
            margin: auto;
            padding: 10vh 0;
            padding: min(10vh,120px) 0;
            }

            .sellform-container{
             width: 73%;
                }

            .sellform-bg{
                width: 27%;
                background-image:url(../../../assets/img/svg/seller-bg.svg);
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            #sellForm .form-group{
             margin-bottom: 2.5rem;
                }

                #sellForm .col{
                  padding: 0 2rem;
                       }

                       #sellForm  .custom-checkbox .custom-control-label > span{
                        display: block;
                        margin-top: -0.75rem;
                        margin-left: 0.75rem;
         }

    }

    @media (min-width:1444.98px) {
   

            .sellform-container{
             width: 65%;
                }

            .sellform-bg{
                width: 35%;
            }


    }





/* .react-select .sellSelect__option::before {
    content: "";
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #777;
    text-align: center;
    display: inline-block;
    margin-right: 0.6em;
    border-radius: 20%;
  }
  
  .react-select .sellSelect__option--is-selected::before {
     border: 1px solid #fff;
     background-color: var(--primary-color);
     box-shadow: inset 0em 0.15em  #fff,inset -0.15em -0em #fff,inset -0em -0.15em#fff,inset 0.15em -0em #fff;
  } */


