/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

:root{
  --dark-color: #000000;
  --primary-color: #9E1946;
  --primary-light-color: #F73C7B;
  --secondary-color:#173a36;
  --light-color: #FFFFFF;   
  --form-gray: #656565;

  --main-font-family: 'Roboto', Helvetica, Arial , sans-serif;
  --second-font-family: 'Public Sans','Roboto', Helvetica, Arial  sans-serif;
  
  
  --h1-font-size: 3.875rem;
  --h2-font-size: 3rem;
  --h3-font-size: 2.6rem;
  --h4-font-size: min(max(24px, 8.6956vw), 42px);
  --h5-font-size: min(max(18px, 5.797vw), 28px);
  --sub-heading-font-size: min(max(20px, 4.347vw), 28px);
  --body-text-font-size: 1.25rem;
  --small-text-font-size: 8px;
}
html{
  scroll-behavior: smooth!important;
  overflow-x: hidden;
}

body {  
  background-color: #000000;
  font-family: var(--main-font-family);
  line-height: 1.166667;
  color:  var(--dark-color);
  position: relative;
  font-size: var(--body-text-font-size);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.055em;
  line-height:1.17
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.055em;
}
h3 {
  font-size: var(--h3-font-size);
  letter-spacing: -0.035em;
}

h4{
  font-size: var(--h4-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
h6 {
  font-size: var(--sub-heading-font-size);
}

.primary-text{
  color: var(--primary-color);
}

.font-weight-semibold{
  font-weight: 600;
}

.btn-dark{
background-color: #000000;
}

.secondary-bg{
  background-color:var(--secondary-color);
  }

.secondary-btn{
    background-color:var(--secondary-color);
    border: none;
    }

.secondary-btn:hover,
.secondary-btn:active{
      background-color:var(--secondary-color);
      border: none;
      transform: scale(1.02);
  }

  .secondary-btn.btn-primary:not(:disabled):not(.disabled):active{
    background-color:var(--secondary-color);
    border: none;
    transform: scale(1.02);
  }

  .secondary-btn:focus{
    background-color:var(--secondary-color);
    border: none;
    box-shadow: 0 0 0 0.2rem rgb(23 58 54 / 50%);
  }



  .secondary-btn.btn-primary:not(:disabled):not(.disabled):active:focus,
   .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(23 58 54 / 50%);
}

.submit-btn{
  border-radius: 10px;
  margin-top:20px;
  font-size: 1.5rem;
  font-size: max(18px, 1.375rem);
}

.another-btn{
  border: 5px solid var(--secondary-color);
border-radius: 10px;
font-family: var(--second-font-family);
font-weight: 600;
margin-top: min(9vw, 36px);
color: var(--secondary-color);
padding:2.5vw 0vw;
font-size: 18px;

}

.another-btn:hover,
.another-btn:focus{
  border: 5px solid var(--secondary-color);
color: var(--secondary-color);
box-shadow: 0 0 0 0.2rem rgb(23 58 54 / 50%);
}

.secondary-btn.another-btn{
  border: 5px solid var(--secondary-color);
color: var(--light-color);
padding: 15px;
padding: min(2.5vw,18px) 0vw;
}


@media (min-width:767.98px) { 

  .continue-btn.another-btn{
  border-color: #fff;
  color: #fff;
  }

  .continue-btn.another-btn:focus,
  .continue-btn.another-btn:hover{
    border-color: #fff;
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
    }
  



}












@media (min-width: 1979.99px) {
  :root {
    font-size: 18px;
  }
}

@media (max-width: 1979.98px) {
  :root {
    font-size: 18px;
  }
}

@media (max-width: 1859.98px) {
  :root {
    font-size: 17px;
  }
}

@media (max-width: 1739.98px) {
  :root {
    font-size: 17px;
  }
}


@media (max-width: 1619.98px) {
  :root {
    font-size: 16px;
  }
}

/* // X-Large devices (large desktops, less than 1600px) */
@media (max-width: 1499.98px) {
  :root {
    font-size: 16px;
  }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1379.98px) {
  :root {
    font-size: 15px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1259.98px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 1139.98px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 1019.98px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 899.98px) {
  :root {
    font-size: 14px;
  }

}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  :root {
    font-size: 11px;
  }

}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  :root {
    font-size: 10px;
  }

}

@media (max-width: 339.98px) {
  :root {
    font-size: 9px;
  }

}
